.series-wrapper
{
    width:100%;
    padding: 2px 2px 2px 2px;
}

.series
{
    position:relative;
    float:left;
    width:32%;
    height:1100px;
    border: 1px solid #5C85FF;
    border-radius: 4px;
    padding: 5px;
    background: #DFE7FF;
}

.series-image
{
    width:100%;
    height:150px;
    border:0;
    
}

.series-image img
{
    padding: 5px 5px 5px 5p;
    border: 1px solid #5C85FF;
    width: 100%;
    height: 150px;
}

.series-header
{
    padding: 25px 5px 25px 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
}

.series-sub
{
    padding: 5px 5px 1px 30px;
    font-size: 16px;
    font-weight: bold;
}

.series-data
{
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;
}

.series-data li
{
    padding: 2px 2px 2px 2px;
}

.series-table-wrapper
{
    margin:aut;
    width:90%;
    height:100%;
    display:block;
    padding-top:40px;

}

#main{
    float:left;
    height:1000px;
    width: 85%;
}

.series-table-left
{
    float: left;
    width: 50%;
    padding-left:10%
}
.series-table-right
{
    display: block;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:24px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
        text-align: center;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
	text-align: center;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
	font-size:16px;
	text-align:center;
}
