div.selectortitle
{
    font-size : 24px;
    text-align : center;
    margin : 20px 0px;
}


div.selectortext
{
    text-align : left;
    margin : 20px 0px;
    font-size : 18px;
}

div.helptitle
{
    font-size : 18px;
    text-align : center;
    margin : 20px 0px;
}


div.helptext
{
    text-align : left;
    margin : 20px 0px;
    font-size : 14px;
}

label.vol-db-radio
{
    display: inline-block;
    width:100px;
}