.outer-div
{
     padding: 10px;
}

.title-inner-div
{
     margin: auto;
     width: 300px;
     height: 50px;
     text-align: center;
     line-height: 50px;
 }


span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight:bold;
  font-size:24px;
}

#notes
{
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: normal;
    font-weight:500;
    font-size:18px;    
}

#canvas
{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    
}



