#main
{
    width:950px;
    height:1000px;
    font-size:16px;
}

#main-title
{
    padding:10px 10px 10px 10px;
    width:100%;
    text-align:center;
    font-size:34px;
    font-weight:bold;
}

#main-help
{
    padding:20px 10px 20px 10px;
    width:100%;
    text-align:center;
    font-size:18px;
}

#main-info
{
    font-weight:bold;
    padding-bottom:20px;
    padding-left:20px;
}

.main-info-left
{
    width:45%;
    float: left;
}

.main-info-right
{
    width:%45%;
}

.info-left
{
    float:left;
    margin-right:10px;
}

.info-right
{
    
}

.selector-left
{
    float:left;
    width:45%;
} 

.selector-right
{
    widht:45%;
}


#main-selector
{
    padding-left: 20px;
}

#zoomForm
{
    display:inline;
}

#canvas
{
    padding-top: 20px;
    width:100%;
    height:700px;
}

#viewer
{
    width:100%;
    height:100%;
}