.synLeft
{
    float: left;
    margin-right: 10px;
    font-size:14px;
}

.synRight
{
 font-size:14px;
}

.text-label 
{
  color: #ffffff;
  font-family: "Fira Mono", Monaco, 
  "Andale Mono", "Lucida Console", 
  "Bitstream Vera Sans Mono", "Courier New", 
  Courier, monospace;
  margin: -5px 0 0 15px;
  font-size: 30px;
  pointer-events:none;
}

input.synfilter
{
    width:15px;
    height:15px;
}

#synfiltercheck
{
    font-size:14px;
}

.filterButton
{
    display: inline-block;
    font-size:14px;
    margin: 8px 8px;
}

#synfiltercells
{
    width:120px;
}

#synfiltercellsdialog
{
    font-size:14px;
    margin-top:8px;
}

#infoFrame
{
    width:1000px;
    height:950px;
}

div.infoFrame
{
    color : #222222;
    background : #ffffff;
    position : absolute;
    top : 0px;
    left : 0px;
    box-shadow: 0px 0px 5px #000000;
    width: 950px;
}

div.cell-selector
{
    color : #222222;
    background : #ffffff;
    position : absolute;
    top : 0px;
    left : 0px;
    box-shadow: 0px 0px 5px #000000;
    height:500px;
    width: 1000px;
    overflow:auto;
}

div.cell-selector .dialogcontent
{
    height:420px;
}

div.selectordialog
{
    width:95%;
}

.panel-header
{
    background-color: #818181;
    color: #ffffff;
    cursor: pointer;
    padding: 6px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 32px;
    font-weight:bold;
    transition: 0.4s;
    margin: 5px;
}

.selectCell
{
    background: #ffffff;
    cursor: pointer;
    padding: 3px;
    float:left;
    height: 24px;
    text-align:left;
    font-size: 16px;
    font-weight: bold;
    margin: 1%;
    width: 9%;    

}

.selectCell.select
{
    background-color: #00cc00;
    color:#ffffff;
}

		     