#mainList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

#mainList td, #mainList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#mainList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#mainList tr:nth-child(even){background-color: #f2f2f2;}
#mainList tr.labels{background-color:#f1d9d3;}

#mainList tr:hover {background-color: #ddd;}

#hide tr:nth-child(even){background-color: #f2f2f2;}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}

.rcol {
    text-align:left;
}

.lcol{
    text-align:center;
}

