#main
{
    width:950px;
    height:1000px;
    font-size:16px;
}

#main-title
{
    padding:10px 10px 10px 10px;
    width:100%;
    text-align:center;
    font-size:34px;
    font-weight:bold;
}

#main-info
{
    padding-left:40px;
    padding-right:40px
}

#cell-name
{
    font-size:24px;
    font-weight:bold;
    padding: 5px 5px 20px 5px;
}

#main-info-body
{
    font-size:18px;
    
}

.synapse-table
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.synapse-table td, .synapse-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.synapse-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.synapse-table tr:nth-child(even){background-color: #f2f2f2;}
.synapse-table tr.labels{background-color:#f1d9d3;}

.synapse-table tr:hover {background-color: #ddd;}

#hide tr:nth-child(even){background-color: #f2f2f2;}


.table-header
{
    text-align:center;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}

.rcol {
    text-align:left;
}

.lcol{
    text-align:center;
}

