.outer-div
{
     padding: 10px;
}
.title-inner-div
{
     margin: auto;
     width: 300px;
     height: 50px;
     text-align: center;
     line-height: 50px;
 }


.cell-inner-div
{
     margin: auto;
     width: 100%;
     height: 50px;
     line-height: 50px;
}

#cell-name
{
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-weight:bold;
    font-size:24px;    
}

#notes
{
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-weight:500;
    font-size:18px;    
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight:bold;
  font-size:24px;
}


.synapse-table
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.synapse-table td, .synapse-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.synapse-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.synapse-table tr:nth-child(even){background-color: #f2f2f2;}
.synapse-table tr.labels{background-color:#f1d9d3;}

.synapse-table tr:hover {background-color: #ddd;}

#hide tr:nth-child(even){background-color: #f2f2f2;}


.table-header
{
    text-align:center;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}

.rcol {
    text-align:left;
}

.lcol{
    text-align:center;
}


